/* CSS code for default stylings
** apply generally for all pages
** added by criscom
*/

body
{
    background-color: $body-bg !important;
}

.page
{
    @include breakpoint($desktop)
    {
        padding-top: 24px;
        padding-top: 1.5rem;
    }
}

.main
{
    background-color: $page-bg;
}

.main h1
{
    text-transform: uppercase;
}

/* two column layout */
// content left
// citations right

.group-left.field-group-div
{
    float: left;

    width: 68%;

    @include clearfix;
    @include breakpoint($iphone5-6)
    {
        width: 100%;
    }
}
.group-right.field-group-div
{
    float: right;

    width: 30%;
    margin-left: 2%;

    @include breakpoint($iphone5-6)
    {
        width: 100%;
    }
}
