/* CSS code for default stylings
** apply generally for all pages
** added by criscom
*/

body {
    background-color: $body-bg !important;
}

.main {
    background-color: $page-bg;
}

.main h1
{
    text-transform: uppercase;
}

/* two column layout */
// content left
// citations right

.group-left.field-group-div
{
    width: 68%;
    float: left;
    @include clearfix;
    @include breakpoint($iphone5-6)
    {
        width: 100%;
    }
}
.group-right.field-group-div
{
    width: 30%;
    margin-left: 2%;
    float: right;
    @include breakpoint($iphone5-6)
    {
        width: 100%;
    }
}
