/* CSS code for the header section
** added by criscom
** on all pages
** different header heights for frontpage and other pages
** no drupal logo in use
*/


header.header
{
    padding: 8px 0;

    background-color: white;
    @include breakpoint($tablet){   
    background-image: image-url('resch_headerfoto.jpg');
    background-size: 240px 150px;
    background-position: right 18px;
    background-repeat: no-repeat;
}

    @include border-top-left-radius(100px);
}

.header__name-and-slogan
{
    padding-top: 24px;
    padding-top: 1.5rem;
}

.header__site-link
{
    &:hover
    {
        text-decoration: none;

        color: $brand-primary;
    }
    span
    {
        // font-family: $opensans;
        font-size: 1.5 * $h1-font-size;

        padding-left: 48px;
        padding-left: 3rem;

        color: $red;
    }
}

.header__logo {
    padding-top: 24px;
    padding-top: 1.5rem;
    padding-left: 48px;
    padding-left: 3rem;
    padding-right: 16px;
    padding-right: 2rem;
    max-width: 432px;
    max-width: 27rem;
}

// not in use
.header__name-and-slogan
{
    @include breakpoint($desktop)
    {
        float: left;
        max-width: 400px;
        margin-right: 24px;
        margin-right: 1.5rem;
    }
}

.header__region
{
    @include breakpoint($desktop)
    {
        float: left;
        clear: none;
    }
}
