
.main-navigation
{
    padding-right: 0;
    padding-left: 0;
}

#block-menu-menu-secondary-menu
{
    ul.menu
    {
        height: 3rem;
        padding-top: 10px;
        padding-right: 10px;
        padding-left: 10px;

        background-color: white;

        @include breakpoint($desktop)
        {
            border-top: 1px solid black;
            padding-left: 48px;
            padding-left: 3rem;
        }
        li
        {
            padding-right: 15px;
            // padding-right: 1rem;
            @include breakpoint($phone) {
                padding-right: 38px;
                padding-right: 2.375rem;
            }
            @include breakpoint($desktop) {
                padding-right: 20px;
                padding-right: 1.25rem;
            }
            &.last {
                padding-right: 0;
                }
            a
            {
                @include breakpoint($range0-480) {
                    font-size: 14px;
                }
                text-decoration: none;

                @include link-colors($normal: black, $hover: $red);
                &:hover,
                &.active-trail
                {
                    // text-decoration: underline;
                    color: $red !important;
                }
                &.active-trail {
                    @extend %bold-font-weight;
                }
            }
        }
    }
}
