/* CSS code for zitate
** added by criscom
** in right sidebar
*/

.field-name-field-zitat-einbinden {
    .field-name-body p,
    .field-name-field-zitaten-geber div
    {
        font-size: 14px;
    }
    .field-name-body p {
        margin-bottom: 0;
    }
    .field-name-field-zitaten-geber div {
        font-style: italic;
    }
}


